* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

.tamagoTwitch {
    display: flex;
    flex-direction: column;
    background: #555;
    width: 20%;
    padding: .6em;
    margin: .5em;
    min-height: 97px;
}

.tamagoTwitch h3 {
    border-bottom: 2px solid #3aa;
    color: #FF0;
    margin-bottom: 6px;
}

.tamagoTwitch p {
    border: 3px solid #66b;
    background: #22b;
    color: #fff;
    padding: .6em;
    transition: 0.5s;
}
.tamagoTwitch p.hide{
    animation: ExitMessage 2s ease 0s 1 normal forwards;
}
@keyframes ExitMessage {
	0% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
		transform: scale(0.6);
	}
}